@font-face {
  font-family: 'Druk Wide';
  src: url('DrukWide-Bold.woff2') format('woff2'),
    url('DrukWide-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Druk Wide Super';
  src: url('DrukWide-Super.woff2') format('woff2'),
    url('DrukWide-Super.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Druk Wide';
  src: url('DrukWide-HeavyItalic.woff2') format('woff2'),
    url('DrukWide-HeavyItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Druk Wide Super';
  src: url('DrukWide-SuperItalic.woff2') format('woff2'),
    url('DrukWide-SuperItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Druk Wide';
  src: url('DrukWide-Heavy.woff2') format('woff2'),
    url('DrukWide-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Druk Wide';
  src: url('DrukWide-Medium.woff2') format('woff2'),
    url('DrukWide-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Druk Wide';
  src: url('DrukWide-BoldItalic.woff2') format('woff2'),
    url('DrukWide-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Druk Wide';
  src: url('DrukWide-MediumItalic.woff2') format('woff2'),
    url('DrukWide-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Druk Super';
  src: url('Druk-Super.woff2') format('woff2'),
    url('Druk-Super.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Druk';
  src: url('Druk-HeavyItalic.woff2') format('woff2'),
    url('Druk-HeavyItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Druk';
  src: url('Druk-Medium.woff2') format('woff2'),
    url('Druk-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Druk';
  src: url('Druk-Bold.woff2') format('woff2'),
    url('Druk-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Druk';
  src: url('Druk-Heavy.woff2') format('woff2'),
    url('Druk-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Druk';
  src: url('Druk-BoldItalic.woff2') format('woff2'),
    url('Druk-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Druk';
  src: url('Druk-MediumItalic.woff2') format('woff2'),
    url('Druk-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Druk Super';
  src: url('Druk-SuperItalic.woff2') format('woff2'),
    url('Druk-SuperItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
